/***********************************************************
 *** * * *** *** *** * *
 *   * * *    *  * * ***
 *   * * ***  *  * * * *
 *   * *   *  *  * * * *
 *** *** ***  *  *** * *
 **********************************************************/
.btn-customAnimation {
	-webkit-transition: 0.5s ease;
        -moz-transition: 0.5s ease;
         -ms-transition: 0.5s ease;
          -o-transition: 0.5s ease;
             transition: 0.5s ease;
}

.navbar-fixed-top {
	padding: 0;
}

.navbar {
	background-color: #4285F4;
}

.navbar-brand img {
	height: 2em;
}

.carousel-indicators li {
	border-radius: 0;
}

.item img, .carousel, .carousel-inner, .item {
	height: 100% !important;
	display: block;
}

.carousel-indicators {
	bottom: 3em;
}

.carousel .carousel-indicators .active {
	margin: 1px;
}

.carousel-inner>.item>a>img, .carousel-inner>.item>img, .img-responsive, .thumbnail a>img, .thumbnail>img {
	width: 100%;
}

.item h3 {
	position: absolute;
	top: 30%;
	left: 10%;
	color: #4285F4;
	text-shadow: -1px -1px 0 #FFF,1px -1px 0 #FFF,-1px 1px 0 #FFF,1px 1px 0 #FFF;
	font-weight: bold;
	font-size: 300%;
}

.item span {
	position: absolute;
	top: calc(30% + 5em);
	left: 10%;
	color: #FFFFFF;
	max-width: 30.75em;
}

/***********************************************************
 **  *   *** *** * * ***
 * * *   * * *   **  *  
 **  *   * * *   *   ***
 * * *   * * *   **    *
 **  *** *** *** * * ***
 **********************************************************/

.question {
	width: 50%;
	display: block;
	margin-left: 25%;
	border: 1px solid #000000;
	border-radius: 1.5em;
	position: relative;
}

.questionNumber {
	width: 2em;
	padding-top: 0.10em;
	padding-left: 0.10em;
	height: 2em;
	position: relative;
	left: calc(50% - 1em);
	font-size: 300%;
	text-align: center;
	border-radius: 1em;
	display: block;
	top: -1em;
	border: 1px solid #000000;
	background-color: #FFFFFF;
}

.questionNumber span {
	width: 1.76em;
	height: 1.76em;
	padding-top: 0.2em;
	position: relative;
	color: #4285F4;
	text-align: center;
	background-color: #FFFFFF;
	border: 1px solid #4285F4;
	border-radius: 1em;
	display: block;
}

.questionTitle {
	margin-top: -1.58em;
	color: #FFFFFF;
	text-shadow: #000000 1px 1px, #000000 -1px 1px, #000000 -1px -1px, #000000 1px -1px;
	width: 100%;
	height: 4em;
	border-top-left-radius: 0.37em;
	border-top-right-radius: 0.37em;
	padding-top: 1em;
	padding-left: 0.5em;
	padding-right: 0.5em;
	text-align: center;
	border-bottom: 1px solid #4285F4;
	display: block;
	font-family: 'Poiret One', cursive;
	max-height: 3em;
	/*overflow: hidden;*/
	background-size: 100% 100%;
}

.questionTitle span {
	z-index: 2;
	position: relative;
	padding-top: 1em;
}


/***********************************************************
 * * ***  *  **  *** ***
 * * *   * * * * *   * *
 *** **  *** * * **  ***
 * * *   * * * * *   ** 
 * * *** * * **  *** * *
 **********************************************************/
 
 
 
/**********************************************************
 **  *** **  * *
 * * * * * * * *
 **  * * * *  * 
 * * * * * *  * 
 **  *** **   *
 **********************************************************/
body, html {
    width: 100%;
    height: 100%;
    display: block;
    padding: 0;
    margin: 0;
}

body {
	background: url('../img/back.png');
	background-size: 100% 100%;
	
}



/***********************************************************
 *** *** *** *** *** ***
 *   * * * *  *  *   * *
 **  * * * *  *  **  ***
 *   * * * *  *  *   ** 
 *   *** ***  *  *** * *
***********************************************************/
footer {
    display: block;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 5%;
    overflow: hidden;
    background-color: #4285F4;
}

footer span {
	font-size: 150%;
	padding-top: 0.75em;
	height: 100%;
	padding-bottom: 0.75em;
}

footer span i {
	font-size: 90% !important;
}

/*
#plane {
    width: 4em;
    max-height: 100%;
    position: absolute;
    bottom: 0;
    left: calc(49.25% - 2em);
    display: block;
    position: absolute;
    z-index: 2;
}

.divFooter {
    position: absolute;
    height: 100%;
    width: 20%;
    display: block;
    top: 0;
    left: 0;
    z-index: 4;
    background-color: rgba(66, 133, 244, 1);
    -webkit-transition: 1s ease;
        -moz-transition: 1s ease;
         -ms-transition: 1s ease;
          -o-transition: 1s ease;
             transition: 1s ease;
}

footer:hover > .divFooter {
    background-color: rgba(66, 133, 244, 1);
}

#backBot, #backTop {
    height: 50%;
    width: 100%;
    display: block;
}

#backBot {
    position: absolute;
    z-index: 3;
}

#backTop {
    z-index: 1;
}
*/
